@import '../../styles/shared.scss';

.title {
  margin-top: 10px;
  margin-bottom: 10px;

  color: $main-color;

  text-align: center;
}

// Add contact form
.form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid $border-color;

  @media screen and (min-width: $tablet) {
    width: 350px;
  }
}

// Labels for inputs
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: $secondary-color &__text {
    margin-bottom: 5px;
  }
}

// Form inputs
.input {
  padding: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all $transition-duration $timing-function;

  cursor: pointer;

  &:focus {
    outline: transparent;
    border: 1px solid $main-color;
  }
}
